<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>nexus-snapshots</id>
      <username>khanhnn</username>
      <password>Lotte@2021</password>
    </server>
    <server>
      <id>nexus-releases</id>
      <username>khanhnn</username>
      <password>Lotte@2021</password>
    </server>
    <server>
      <id>central</id>
      <username>khanhnn</username>
      <password>Lotte@2021</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>insecure-ssl</id>
      <properties>
        <maven.wagon.http.ssl.insecure>true</maven.wagon.http.ssl.insecure>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>insecure-ssl</activeProfile>
  </activeProfiles>
  <mirrors>
    <mirror>
      <id>central</id>
      <name>central</name>
      <url>https://registry.lottefn.vn/repository/maven-public/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
</settings>